/* CC Foundation - Desktop */
:root {
  --Units-Unit-0: 0px;
  --Units-Unit-2: 2px;
  --Units-Unit-4: 4px;
  --Units-Unit-6: 6px;
  --Units-Unit-8: 8px;
  --Units-Unit-10: 10px;
  --Units-Unit-12: 12px;
  --Units-Unit-14: 14px;
  --Units-Unit-16: 16px;
  --Units-Unit-18: 18px;
  --Units-Unit-20: 20px;
  --Units-Unit-24: 24px;
  --Units-Unit-28: 28px;
  --Units-Unit-32: 32px;
  --Units-Unit-36: 36px;
  --Units-Unit-40: 40px;
  --Units-Unit-44: 44px;
  --Units-Unit-48: 48px;
  --Units-Unit-52: 52px;
  --Units-Unit-56: 56px;
  --Units-Unit-60: 60px;
  --Units-Unit-64: 64px;
  --Units-Unit-68: 68px;
  --Units-Unit-72: 72px;
  --Units-Unit-76: 76px;
  --Units-Unit-80: 80px;
  --Units-Unit-84: 84px;
  --Units-Unit-88: 88px;
  --Units-Unit-92: 92px;
  --Units-Unit-96: 96px;
  --Units-Unit-100: 100px;
  --Units-Unit-104: 104px;
  --Units-Unit-108: 108px;
  --Units-Unit-112: 112px;
  --Units-Unit-116: 116px;
  --Units-Unit-120: 120px;
  --Units-Unit-9999: 9999px;
  --Colours-Brand-Primary: #FFFFFFFF;
  --Colours-Brand-Secondary: #FFFFFFFF;
  --Colours-Brand-Tertiary: #FFFFFFFF;
  --Colours-Brand-White: #FFFFFFFF;
  --Colours-Placeholder-Grey-50: #F5F8FFFF;
  --Colours-Placeholder-Grey-100: #EDF2FFFF;
  --Colours-Placeholder-Grey-200: #DCE4FFFF;
  --Colours-Placeholder-Grey-300: #C8D3FEFF;
  --Colours-Placeholder-Grey-400: #9BB0F5FF;
  --Colours-Placeholder-Grey-500: #6C87E8FF;
  --Colours-Placeholder-Grey-600: #4F66C9FF;
  --Colours-Placeholder-Grey-700: #3E4FA3FF;
  --Colours-Placeholder-Grey-800: #263072FF;
  --Colours-Placeholder-Grey-900: #202B58FF;
  --Colours-Placeholder-Grey-950: #121B41FF;
  --Typography-Display-Display-XL: var(--Units-Unit-64);
  --Typography-Display-Display-XL---LH: 76.80000305175781px;
  --Typography-Display-Display-L: var(--Units-Unit-56);
  --Typography-Display-Display-L---LH: 67.19999694824219px;
  --Typography-Display-Display-M: var(--Units-Unit-48);
  --Typography-Display-Display-M---LH: 57.599998474121094px;
  --Typography-Display-Display-S: var(--Units-Unit-40);
  --Typography-Display-Display-S---LH: 48px;
  --Typography-Headings-H1: var(--Units-Unit-32);
  --Typography-Headings-H1---LH: 28.799999237060547px;
  --Typography-Headings-H2: var(--Units-Unit-28);
  --Typography-Headings-H2---LH: 33.599998474121094px;
  --Typography-Headings-H3: var(--Units-Unit-24);
  --Typography-Headings-H3---LH: 28.799999237060547px;
  --Typography-Headings-H4: var(--Units-Unit-20);
  --Typography-Headings-H4---LH: 24px;
  --Typography-Headings-H5: var(--Units-Unit-18);
  --Typography-Headings-H5---LH: 21.600000381469727px;
  --Typography-Headings-H6: var(--Units-Unit-16);
  --Typography-Headings-H6---LH: 19.260000228881836px;
  --Typography-Body-Body-Large: var(--Units-Unit-18);
  --Typography-UI-Label-Large: var(--Units-Unit-14);
  --Typography-UI-Label-Large---LH: 16.799999237060547px;
  --Typography-UI-Label-Small: var(--Units-Unit-12);
  --Typography-UI-Label-Small---LH: 14.399999618530273px;
  --Typography-UI-Micro-Label: var(--Units-Unit-10);
  --Typography-UI-Micro-Label---LH: 12px;
  --Typography-Buttons-Primary-Button: var(--Units-Unit-16);
  --Typography-Buttons-Secondary-Button: var(--Units-Unit-14);
  --Typography-Body-Body-Large---LH: 27px;
  --Typography-Body-Body-Default: var(--Units-Unit-16);
  --Typography-Body-Body-Default---LH: 24px;
  --Typography-Body-Body-Small: var(--Units-Unit-14);
  --Typography-Body-Body-Small---LH: 21px;
  --Atom-Text-Inputs-padding-x: var(--Units-Unit-10);
  --Atom-Text-Inputs-padding-y: var(--Units-Unit-10);
  --Atom-Text-Inputs-spacing-x: var(--Units-Unit-8);
  --Atom-Text-Inputs-br: var(--Units-Unit-10);
  --Atom-Text-Inputs-checkbox-br: var(--Units-Unit-4);
  --Atom-Text-Inputs-radio-br: var(--Units-Unit-9999);
  --Atom-Buttons-spacing-x: var(--Units-Unit-10);
  --Atom-Buttons-br: var(--Units-Unit-10);
  --Atom-Buttons-s-padding-x: var(--Units-Unit-10);
  --Atom-Buttons-s-padding-y: var(--Units-Unit-10);
  --Atom-Buttons-m-padding-x: var(--Units-Unit-20);
  --Atom-Buttons-m-padding-y: var(--Units-Unit-20);
  --Section-padding-t: var(--Units-Unit-48);
  --Section-padding-b: var(--Units-Unit-48);
  --Section-spacing-y: var(--Units-Unit-36);
  --Section-spacing-x: var(--Units-Unit-24);
  --Section-btn--spacing-x: var(--Units-Unit-10);
  --Nav-padding-t: var(--Units-Unit-20);
  --Nav-padding-b: var(--Units-Unit-20);
  --Nav-padding-l: var(--Units-Unit-20);
  --Nav-padding-r: var(--Units-Unit-20);
  --Nav-spacing-x: var(--Units-Unit-32);
  --Nav-menu--spacing-x: var(--Units-Unit-10);
  --Nav-dd--padding: var(--Units-Unit-10);
  --Nav-mn--padding-x: var(--Units-Unit-48);
  --Nav-mn--padding-y: var(--Units-Unit-24);
  --Nav-mn-menu--spacing-x: var(--Units-Unit-24);
  --Info-info--padding-t: var(--Units-Unit-12);
  --Info-info--padding-b: var(--Units-Unit-12);
  --Info-info--padding-l: var(--Units-Unit-20);
  --Info-info--padding-r: var(--Units-Unit-20);
  --Info-info-menu--spacing-x: var(--Units-Unit-24);
  --Info-sub--padding-t: var(--Units-Unit-4);
  --Info-sub--padding-b: var(--Units-Unit-4);
  --Info-sub--padding-l: var(--Units-Unit-20);
  --Info-sub--padding-r: var(--Units-Unit-20);
  --Info-sub-menu--spacing-x: var(--Units-Unit-10);
  --Breadcrumb-padding-t: var(--Units-Unit-12);
  --Breadcrumb-padding-b: var(--Units-Unit-12);
  --Breadcrumb-padding-l: var(--Units-Unit-20);
  --Hero-padding-x: var(--Units-Unit-40);
  --Breadcrumb-padding-r: var(--Units-Unit-20);
  --Cards-br: var(--Units-Unit-20);
  --Cards-image--padding-y: var(--Units-Unit-40);
  --TextMedia-text--padding-x: var(--Units-Unit-24);
  --TextMedia-text--padding-y: var(--Units-Unit-24);
  --Tables-cell--padding: var(--Units-Unit-10);
  --Tiles-padding: var(--Units-Unit-24);
  --Tiles-spacing-y: var(--Units-Unit-12);
  --Tiles-br: var(--Units-Unit-20);
  --Logos-padding-y: var(--Units-Unit-24);
  --Logos-spacing-x: var(--Units-Unit-64);
  --Testimonial-padding: var(--Units-Unit-24);
  --Testimonial-spacing-y: var(--Units-Unit-10);
  --Testimonial-image--spacing-y: var(--Units-Unit-24);
  --Testimonial-stack--spacing-y: var(--Units-Unit-24);
  --Stats-padding: var(--Units-Unit-24);
  --Stats-spacing-y: var(--Units-Unit-10);
  --Tabbed-loz--padding: var(--Units-Unit-10);
  --Events-padding: var(--Units-Unit-40);
  --Resource-padding: var(--Units-Unit-24);
  --Resource-br: var(--Units-Unit-20);
  --Archive-padding-y: var(--Units-Unit-24);
  --CTA-padding-y: var(--Units-Unit-48);
  --CTA-spacing-y: var(--Units-Unit-24);
  --Awards-padding: var(--Units-Unit-48);
  --Awards-spacing-y: var(--Units-Unit-24);
  --Awards-br: var(--Units-Unit-0);
  --Awards-text--spacing-y: var(--Units-Unit-10);
  --Awards-btn--spacing-y: var(--Units-Unit-36);
  --Awards-cert--padding: var(--Units-Unit-48);
  --Archive-spacing-x: var(--Units-Unit-10);
  --Resource-link--spacing-y: var(--Units-Unit-36);
  --Events-spacing-x: var(--Units-Unit-36);
  --Events-spacing-y: var(--Units-Unit-10);
  --Events-br: var(--Units-Unit-0);
  --Events-link--spacing-y: var(--Units-Unit-24);
  --Tabbed-loz--spacing-x: var(--Units-Unit-10);
  --Tabbed-loz--br: var(--Units-Unit-9999);
  --Tabbed-lozs--padding-y: var(--Units-Unit-24);
  --Tabbed-lozs--spacing-x: var(--Units-Unit-10);
  --Tabbed-lozs--spacing-y: var(--Units-Unit-20);
  --Tabbed-block--spacing-y: var(--Units-Unit-10);
  --Tabbed-block--br: var(--Units-Unit-0);
  --Tabbed-row--padding: var(--Units-Unit-10);
  --Tabbed-row--br: var(--Units-Unit-0);
  --Tabbed-tabs--padding-y: var(--Units-Unit-24);
  --Tabbed-tabs--spacing-x: var(--Units-Unit-0);
  --Tabbed-aside--spacing-y: var(--Units-Unit-0);
  --Tabbed-aside--br: var(--Units-Unit-0);
  --Trust-padding: var(--Units-Unit-24);
  --Cookie-padding: var(--Units-Unit-24);
  --Cookie-br: var(--Units-Unit-0);
  --Form-spacing-y: var(--Units-Unit-48);
  --Map-br: var(--Units-Unit-0);
  --Map-spacing-x: var(--Units-Unit-12);
  --Map-text--padding-x: var(--Units-Unit-24);
  --Map-text--padding-y: var(--Units-Unit-40);
  --Cookie-spacing-y: var(--Units-Unit-24);
  --Map-text--spacing-y: var(--Units-Unit-10);
  --Accordion-header--padding: var(--Units-Unit-10);
  --Accordion-header--br: var(--Units-Unit-0);
  --Accordion-body--padding: var(--Units-Unit-0);
  --Accordion-body--br: var(--Units-Unit-0);
  --Accordion-stack--spacing-y: var(--Units-Unit-0);
  --Accordion-stack--br: var(--Units-Unit-0);
  --Map-image--padding-t: var(--Units-Unit-20);
  --Map-image--padding-b: var(--Units-Unit-0);
  --Map-image--padding-l: var(--Units-Unit-36);
  --Map-image--padding-r: var(--Units-Unit-0);
  --Cookie-btn--spacing-x: var(--Units-Unit-10);
  --Downloads-padding-x: var(--Units-Unit-24);
  --Downloads-padding-y: var(--Units-Unit-24);
  --Downloads-spacing-y: var(--Units-Unit-36);
  --Downloads-br: var(--Units-Unit-0);
  --Downloads-logo--padding: var(--Units-Unit-10);
  --Sticky-padding: var(--Units-Unit-24);
  --Trust-text--padding: var(--Units-Unit-10);
  --Trust-image--padding: var(--Units-Unit-24);
  --TextMedia-text--spacing-y: var(--Units-Unit-10);
  --TextMedia-btn-text--spacing-y: var(--Units-Unit-36);
  --TextMedia-value--spacing-y: var(--Units-Unit-10);
  --TextMedia-image--padding: var(--Units-Unit-24);
  --TextMedia-image--br: var(--Units-Unit-20);
  --Cards-image--padding-x: var(--Units-Unit-40);
  --Cards-image--br: var(--Units-Unit-20);
  --Cards-icon--padding-y: var(--Units-Unit-20);
  --Cards-icon--padding-x: var(--Units-Unit-20);
  --Breadcrumb-menu--spacing-x: var(--Units-Unit-12);
  --Hero-padding-y: var(--Units-Unit-40);
  --Hero-spacing: var(--Units-Unit-32);
  --Hero-image--padding: var(--Units-Unit-60);
  --Hero-image--br: var(--Units-Unit-20);
  --Trust-padding-2: var(--Units-Unit-24);
  --Hero-text--spacing-y: var(--Units-Unit-10);
}

/* CC Foundation - Tablet */
:root {
  --Units-Unit-0: 0px;
  --Units-Unit-2: 2px;
  --Units-Unit-4: 4px;
  --Units-Unit-6: 6px;
  --Units-Unit-8: 8px;
  --Units-Unit-10: 10px;
  --Units-Unit-12: 12px;
  --Units-Unit-14: 14px;
  --Units-Unit-16: 16px;
  --Units-Unit-18: 18px;
  --Units-Unit-20: 20px;
  --Units-Unit-24: 24px;
  --Units-Unit-28: 28px;
  --Units-Unit-32: 32px;
  --Units-Unit-36: 36px;
  --Units-Unit-40: 40px;
  --Units-Unit-44: 44px;
  --Units-Unit-48: 48px;
  --Units-Unit-52: 52px;
  --Units-Unit-56: 56px;
  --Units-Unit-60: 60px;
  --Units-Unit-64: 64px;
  --Units-Unit-68: 68px;
  --Units-Unit-72: 72px;
  --Units-Unit-76: 76px;
  --Units-Unit-80: 80px;
  --Units-Unit-84: 84px;
  --Units-Unit-88: 88px;
  --Units-Unit-92: 92px;
  --Units-Unit-96: 96px;
  --Units-Unit-100: 100px;
  --Units-Unit-104: 104px;
  --Units-Unit-108: 108px;
  --Units-Unit-112: 112px;
  --Units-Unit-116: 116px;
  --Units-Unit-120: 120px;
  --Units-Unit-9999: 9999px;
  --Colours-Brand-Primary: #FFFFFFFF;
  --Colours-Brand-Secondary: #FFFFFFFF;
  --Colours-Brand-Tertiary: #FFFFFFFF;
  --Colours-Brand-White: #FFFFFFFF;
  --Colours-Placeholder-Grey-50: #F5F8FFFF;
  --Colours-Placeholder-Grey-100: #EDF2FFFF;
  --Colours-Placeholder-Grey-200: #DCE4FFFF;
  --Colours-Placeholder-Grey-300: #C8D3FEFF;
  --Colours-Placeholder-Grey-400: #9BB0F5FF;
  --Colours-Placeholder-Grey-500: #6C87E8FF;
  --Colours-Placeholder-Grey-600: #4F66C9FF;
  --Colours-Placeholder-Grey-700: #3E4FA3FF;
  --Colours-Placeholder-Grey-800: #263072FF;
  --Colours-Placeholder-Grey-900: #202B58FF;
  --Colours-Placeholder-Grey-950: #121B41FF;
  --Typography-Display-Display-XL: var(--Units-Unit-56);
  --Typography-Display-Display-XL---LH: 67.19999694824219px;
  --Typography-Display-Display-L: var(--Units-Unit-48);
  --Typography-Display-Display-L---LH: 57.599998474121094px;
  --Typography-Display-Display-M: var(--Units-Unit-40);
  --Typography-Display-Display-M---LH: 48px;
  --Typography-Display-Display-S: var(--Units-Unit-32);
  --Typography-Display-Display-S---LH: 38.400001525878906px;
  --Typography-Headings-H1: var(--Units-Unit-32);
  --Typography-Headings-H1---LH: 28.799999237060547px;
  --Typography-Headings-H2: var(--Units-Unit-28);
  --Typography-Headings-H2---LH: 33.599998474121094px;
  --Typography-Headings-H3: var(--Units-Unit-24);
  --Typography-Headings-H3---LH: 28.799999237060547px;
  --Typography-Headings-H4: var(--Units-Unit-20);
  --Typography-Headings-H4---LH: 24px;
  --Typography-Headings-H5: var(--Units-Unit-18);
  --Typography-Headings-H5---LH: 21.600000381469727px;
  --Typography-Headings-H6: var(--Units-Unit-16);
  --Typography-Headings-H6---LH: 19.200000762939453px;
  --Typography-Body-Body-Large: var(--Units-Unit-18);
  --Typography-UI-Label-Large: var(--Units-Unit-14);
  --Typography-UI-Label-Large---LH: 16.799999237060547px;
  --Typography-UI-Label-Small: var(--Units-Unit-12);
  --Typography-UI-Label-Small---LH: 14.399999618530273px;
  --Typography-UI-Micro-Label: var(--Units-Unit-10);
  --Typography-UI-Micro-Label---LH: 12px;
  --Typography-Buttons-Primary-Button: var(--Units-Unit-16);
  --Typography-Buttons-Secondary-Button: var(--Units-Unit-14);
  --Typography-Body-Body-Large---LH: 27px;
  --Typography-Body-Body-Default: var(--Units-Unit-16);
  --Typography-Body-Body-Default---LH: 24px;
  --Typography-Body-Body-Small: var(--Units-Unit-14);
  --Typography-Body-Body-Small---LH: 21px;
  --Atom-Text-Inputs-padding-x: var(--Units-Unit-10);
  --Atom-Text-Inputs-padding-y: var(--Units-Unit-10);
  --Atom-Text-Inputs-spacing-x: var(--Units-Unit-8);
  --Atom-Text-Inputs-br: var(--Units-Unit-10);
  --Atom-Text-Inputs-checkbox-br: var(--Units-Unit-4);
  --Atom-Text-Inputs-radio-br: var(--Units-Unit-9999);
  --Atom-Buttons-spacing-x: var(--Units-Unit-10);
  --Atom-Buttons-br: var(--Units-Unit-10);
  --Atom-Buttons-s-padding-x: var(--Units-Unit-10);
  --Atom-Buttons-s-padding-y: var(--Units-Unit-10);
  --Atom-Buttons-m-padding-x: var(--Units-Unit-20);
  --Atom-Buttons-m-padding-y: var(--Units-Unit-20);
  --Section-padding-t: var(--Units-Unit-48);
  --Section-padding-b: var(--Units-Unit-48);
  --Section-spacing-y: var(--Units-Unit-36);
  --Section-spacing-x: var(--Units-Unit-24);
  --Section-btn--spacing-x: var(--Units-Unit-10);
  --Nav-padding-t: var(--Units-Unit-20);
  --Nav-padding-b: var(--Units-Unit-20);
  --Nav-padding-l: var(--Units-Unit-20);
  --Nav-padding-r: var(--Units-Unit-20);
  --Nav-spacing-x: var(--Units-Unit-32);
  --Nav-menu--spacing-x: var(--Units-Unit-10);
  --Nav-dd--padding: var(--Units-Unit-10);
  --Nav-mn--padding-x: var(--Units-Unit-48);
  --Nav-mn--padding-y: var(--Units-Unit-24);
  --Nav-mn-menu--spacing-x: var(--Units-Unit-24);
  --Info-info--padding-t: var(--Units-Unit-12);
  --Info-info--padding-b: var(--Units-Unit-12);
  --Info-info--padding-l: var(--Units-Unit-20);
  --Info-info--padding-r: var(--Units-Unit-20);
  --Info-info-menu--spacing-x: var(--Units-Unit-24);
  --Info-sub--padding-t: var(--Units-Unit-4);
  --Info-sub--padding-b: var(--Units-Unit-4);
  --Info-sub--padding-l: var(--Units-Unit-20);
  --Info-sub--padding-r: var(--Units-Unit-20);
  --Info-sub-menu--spacing-x: var(--Units-Unit-10);
  --Breadcrumb-padding-t: var(--Units-Unit-12);
  --Breadcrumb-padding-b: var(--Units-Unit-12);
  --Breadcrumb-padding-l: var(--Units-Unit-20);
  --Hero-padding-x: var(--Units-Unit-40);
  --Breadcrumb-padding-r: var(--Units-Unit-20);
  --Cards-br: var(--Units-Unit-20);
  --Cards-image--padding-y: var(--Units-Unit-40);
  --TextMedia-text--padding-x: var(--Units-Unit-24);
  --TextMedia-text--padding-y: var(--Units-Unit-24);
  --Tables-cell--padding: var(--Units-Unit-10);
  --Tiles-padding: var(--Units-Unit-24);
  --Tiles-spacing-y: var(--Units-Unit-12);
  --Tiles-br: var(--Units-Unit-20);
  --Logos-padding-y: var(--Units-Unit-24);
  --Logos-spacing-x: var(--Units-Unit-64);
  --Testimonial-padding: var(--Units-Unit-24);
  --Testimonial-spacing-y: var(--Units-Unit-10);
  --Testimonial-image--spacing-y: var(--Units-Unit-24);
  --Testimonial-stack--spacing-y: var(--Units-Unit-24);
  --Stats-padding: var(--Units-Unit-24);
  --Stats-spacing-y: var(--Units-Unit-10);
  --Tabbed-loz--padding: var(--Units-Unit-10);
  --Events-padding: var(--Units-Unit-40);
  --Resource-padding: var(--Units-Unit-24);
  --Resource-br: var(--Units-Unit-20);
  --Archive-padding-y: var(--Units-Unit-24);
  --CTA-padding-y: var(--Units-Unit-36);
  --CTA-spacing-y: var(--Units-Unit-24);
  --Awards-padding: var(--Units-Unit-36);
  --Awards-spacing-y: var(--Units-Unit-24);
  --Awards-br: var(--Units-Unit-0);
  --Awards-text--spacing-y: var(--Units-Unit-10);
  --Awards-btn--spacing-y: var(--Units-Unit-36);
  --Awards-cert--padding: var(--Units-Unit-48);
  --Archive-spacing-x: var(--Units-Unit-10);
  --Resource-link--spacing-y: var(--Units-Unit-36);
  --Events-spacing-x: var(--Units-Unit-36);
  --Events-spacing-y: var(--Units-Unit-10);
  --Events-br: var(--Units-Unit-0);
  --Events-link--spacing-y: var(--Units-Unit-24);
  --Tabbed-loz--spacing-x: var(--Units-Unit-10);
  --Tabbed-loz--br: var(--Units-Unit-9999);
  --Tabbed-lozs--padding-y: var(--Units-Unit-24);
  --Tabbed-lozs--spacing-x: var(--Units-Unit-10);
  --Tabbed-lozs--spacing-y: var(--Units-Unit-20);
  --Tabbed-block--spacing-y: var(--Units-Unit-10);
  --Tabbed-block--br: var(--Units-Unit-0);
  --Tabbed-row--padding: var(--Units-Unit-10);
  --Tabbed-row--br: var(--Units-Unit-0);
  --Tabbed-tabs--padding-y: var(--Units-Unit-24);
  --Tabbed-tabs--spacing-x: var(--Units-Unit-0);
  --Tabbed-aside--spacing-y: var(--Units-Unit-0);
  --Tabbed-aside--br: var(--Units-Unit-0);
  --Trust-padding: var(--Units-Unit-24);
  --Cookie-padding: var(--Units-Unit-24);
  --Cookie-br: var(--Units-Unit-0);
  --Form-spacing-y: var(--Units-Unit-48);
  --Map-br: var(--Units-Unit-0);
  --Map-spacing-x: var(--Units-Unit-12);
  --Map-text--padding-x: var(--Units-Unit-24);
  --Map-text--padding-y: var(--Units-Unit-40);
  --Cookie-spacing-y: var(--Units-Unit-24);
  --Map-text--spacing-y: var(--Units-Unit-10);
  --Accordion-header--padding: var(--Units-Unit-10);
  --Accordion-header--br: var(--Units-Unit-0);
  --Accordion-body--padding: var(--Units-Unit-0);
  --Accordion-body--br: var(--Units-Unit-0);
  --Accordion-stack--spacing-y: var(--Units-Unit-0);
  --Accordion-stack--br: var(--Units-Unit-0);
  --Map-image--padding-t: var(--Units-Unit-20);
  --Map-image--padding-b: var(--Units-Unit-0);
  --Map-image--padding-l: var(--Units-Unit-36);
  --Map-image--padding-r: var(--Units-Unit-0);
  --Cookie-btn--spacing-x: var(--Units-Unit-10);
  --Downloads-padding-x: var(--Units-Unit-24);
  --Downloads-padding-y: var(--Units-Unit-24);
  --Downloads-spacing-y: var(--Units-Unit-36);
  --Downloads-br: var(--Units-Unit-0);
  --Downloads-logo--padding: var(--Units-Unit-10);
  --Sticky-padding: var(--Units-Unit-24);
  --Trust-text--padding: var(--Units-Unit-10);
  --Trust-image--padding: var(--Units-Unit-24);
  --TextMedia-text--spacing-y: var(--Units-Unit-10);
  --TextMedia-btn-text--spacing-y: var(--Units-Unit-36);
  --TextMedia-value--spacing-y: var(--Units-Unit-10);
  --TextMedia-image--padding: var(--Units-Unit-24);
  --TextMedia-image--br: var(--Units-Unit-20);
  --Cards-image--padding-x: var(--Units-Unit-40);
  --Cards-image--br: var(--Units-Unit-20);
  --Cards-icon--padding-y: var(--Units-Unit-20);
  --Cards-icon--padding-x: var(--Units-Unit-20);
  --Breadcrumb-menu--spacing-x: var(--Units-Unit-12);
  --Hero-padding-y: var(--Units-Unit-40);
  --Hero-spacing: var(--Units-Unit-32);
  --Hero-image--padding: var(--Units-Unit-40);
  --Hero-image--br: var(--Units-Unit-20);
  --Trust-padding-2: var(--Units-Unit-24);
  --Hero-text--spacing-y: var(--Units-Unit-10);
}

/* CC Foundation - Mobile */
:root {
  --Units-Unit-0: 0px;
  --Units-Unit-2: 2px;
  --Units-Unit-4: 4px;
  --Units-Unit-6: 6px;
  --Units-Unit-8: 8px;
  --Units-Unit-10: 10px;
  --Units-Unit-12: 12px;
  --Units-Unit-14: 14px;
  --Units-Unit-16: 16px;
  --Units-Unit-18: 18px;
  --Units-Unit-20: 20px;
  --Units-Unit-24: 24px;
  --Units-Unit-28: 28px;
  --Units-Unit-32: 32px;
  --Units-Unit-36: 36px;
  --Units-Unit-40: 40px;
  --Units-Unit-44: 44px;
  --Units-Unit-48: 48px;
  --Units-Unit-52: 52px;
  --Units-Unit-56: 56px;
  --Units-Unit-60: 60px;
  --Units-Unit-64: 64px;
  --Units-Unit-68: 68px;
  --Units-Unit-72: 72px;
  --Units-Unit-76: 76px;
  --Units-Unit-80: 80px;
  --Units-Unit-84: 84px;
  --Units-Unit-88: 88px;
  --Units-Unit-92: 92px;
  --Units-Unit-96: 96px;
  --Units-Unit-100: 100px;
  --Units-Unit-104: 104px;
  --Units-Unit-108: 108px;
  --Units-Unit-112: 112px;
  --Units-Unit-116: 116px;
  --Units-Unit-120: 120px;
  --Units-Unit-9999: 9999px;
  --Colours-Brand-Primary: #FFFFFFFF;
  --Colours-Brand-Secondary: #FFFFFFFF;
  --Colours-Brand-Tertiary: #FFFFFFFF;
  --Colours-Brand-White: #FFFFFFFF;
  --Colours-Placeholder-Grey-50: #F5F8FFFF;
  --Colours-Placeholder-Grey-100: #EDF2FFFF;
  --Colours-Placeholder-Grey-200: #DCE4FFFF;
  --Colours-Placeholder-Grey-300: #C8D3FEFF;
  --Colours-Placeholder-Grey-400: #9BB0F5FF;
  --Colours-Placeholder-Grey-500: #6C87E8FF;
  --Colours-Placeholder-Grey-600: #4F66C9FF;
  --Colours-Placeholder-Grey-700: #3E4FA3FF;
  --Colours-Placeholder-Grey-800: #263072FF;
  --Colours-Placeholder-Grey-900: #202B58FF;
  --Colours-Placeholder-Grey-950: #121B41FF;
  --Typography-Display-Display-XL: var(--Units-Unit-48);
  --Typography-Display-Display-XL---LH: 57.599998474121094px;
  --Typography-Display-Display-L: var(--Units-Unit-40);
  --Typography-Display-Display-L---LH: 48px;
  --Typography-Display-Display-M: var(--Units-Unit-32);
  --Typography-Display-Display-M---LH: 38.400001525878906px;
  --Typography-Display-Display-S: var(--Units-Unit-24);
  --Typography-Display-Display-S---LH: 28.799999237060547px;
  --Typography-Headings-H1: var(--Units-Unit-32);
  --Typography-Headings-H1---LH: 28.799999237060547px;
  --Typography-Headings-H2: var(--Units-Unit-28);
  --Typography-Headings-H2---LH: 33.599998474121094px;
  --Typography-Headings-H3: var(--Units-Unit-24);
  --Typography-Headings-H3---LH: 28.799999237060547px;
  --Typography-Headings-H4: var(--Units-Unit-20);
  --Typography-Headings-H4---LH: 24px;
  --Typography-Headings-H5: var(--Units-Unit-18);
  --Typography-Headings-H5---LH: 21.600000381469727px;
  --Typography-Headings-H6: var(--Units-Unit-16);
  --Typography-Headings-H6---LH: 19.200000762939453px;
  --Typography-Body-Body-Large: var(--Units-Unit-18);
  --Typography-UI-Label-Large: var(--Units-Unit-14);
  --Typography-UI-Label-Large---LH: 16.799999237060547px;
  --Typography-UI-Label-Small: var(--Units-Unit-12);
  --Typography-UI-Label-Small---LH: 14.399999618530273px;
  --Typography-UI-Micro-Label: var(--Units-Unit-10);
  --Typography-UI-Micro-Label---LH: 12px;
  --Typography-Buttons-Primary-Button: var(--Units-Unit-16);
  --Typography-Buttons-Secondary-Button: var(--Units-Unit-14);
  --Typography-Body-Body-Large---LH: 27px;
  --Typography-Body-Body-Default: var(--Units-Unit-16);
  --Typography-Body-Body-Default---LH: 24px;
  --Typography-Body-Body-Small: var(--Units-Unit-14);
  --Typography-Body-Body-Small---LH: 21px;
  --Atom-Text-Inputs-padding-x: var(--Units-Unit-10);
  --Atom-Text-Inputs-padding-y: var(--Units-Unit-10);
  --Atom-Text-Inputs-spacing-x: var(--Units-Unit-8);
  --Atom-Text-Inputs-br: var(--Units-Unit-10);
  --Atom-Text-Inputs-checkbox-br: var(--Units-Unit-4);
  --Atom-Text-Inputs-radio-br: var(--Units-Unit-9999);
  --Atom-Buttons-spacing-x: var(--Units-Unit-10);
  --Atom-Buttons-br: var(--Units-Unit-10);
  --Atom-Buttons-s-padding-x: var(--Units-Unit-10);
  --Atom-Buttons-s-padding-y: var(--Units-Unit-10);
  --Atom-Buttons-m-padding-x: var(--Units-Unit-20);
  --Atom-Buttons-m-padding-y: var(--Units-Unit-20);
  --Section-padding-t: var(--Units-Unit-48);
  --Section-padding-b: var(--Units-Unit-48);
  --Section-spacing-y: var(--Units-Unit-36);
  --Section-spacing-x: var(--Units-Unit-24);
  --Section-btn--spacing-x: var(--Units-Unit-10);
  --Nav-padding-t: var(--Units-Unit-20);
  --Nav-padding-b: var(--Units-Unit-20);
  --Nav-padding-l: var(--Units-Unit-20);
  --Nav-padding-r: var(--Units-Unit-20);
  --Nav-spacing-x: var(--Units-Unit-32);
  --Nav-menu--spacing-x: var(--Units-Unit-10);
  --Nav-dd--padding: var(--Units-Unit-10);
  --Nav-mn--padding-x: var(--Units-Unit-48);
  --Nav-mn--padding-y: var(--Units-Unit-24);
  --Nav-mn-menu--spacing-x: var(--Units-Unit-24);
  --Info-info--padding-t: var(--Units-Unit-12);
  --Info-info--padding-b: var(--Units-Unit-12);
  --Info-info--padding-l: var(--Units-Unit-20);
  --Info-info--padding-r: var(--Units-Unit-20);
  --Info-info-menu--spacing-x: var(--Units-Unit-24);
  --Info-sub--padding-t: var(--Units-Unit-4);
  --Info-sub--padding-b: var(--Units-Unit-4);
  --Info-sub--padding-l: var(--Units-Unit-20);
  --Info-sub--padding-r: var(--Units-Unit-20);
  --Info-sub-menu--spacing-x: var(--Units-Unit-10);
  --Breadcrumb-padding-t: var(--Units-Unit-12);
  --Breadcrumb-padding-b: var(--Units-Unit-12);
  --Breadcrumb-padding-l: var(--Units-Unit-20);
  --Hero-padding-x: var(--Units-Unit-40);
  --Breadcrumb-padding-r: var(--Units-Unit-20);
  --Cards-br: var(--Units-Unit-20);
  --Cards-image--padding-y: var(--Units-Unit-40);
  --TextMedia-text--padding-x: var(--Units-Unit-24);
  --TextMedia-text--padding-y: var(--Units-Unit-24);
  --Tables-cell--padding: var(--Units-Unit-10);
  --Tiles-padding: var(--Units-Unit-24);
  --Tiles-spacing-y: var(--Units-Unit-12);
  --Tiles-br: var(--Units-Unit-20);
  --Logos-padding-y: var(--Units-Unit-24);
  --Logos-spacing-x: var(--Units-Unit-64);
  --Testimonial-padding: var(--Units-Unit-24);
  --Testimonial-spacing-y: var(--Units-Unit-10);
  --Testimonial-image--spacing-y: var(--Units-Unit-24);
  --Testimonial-stack--spacing-y: var(--Units-Unit-24);
  --Stats-padding: var(--Units-Unit-24);
  --Stats-spacing-y: var(--Units-Unit-10);
  --Tabbed-loz--padding: var(--Units-Unit-10);
  --Events-padding: var(--Units-Unit-40);
  --Resource-padding: var(--Units-Unit-24);
  --Resource-br: var(--Units-Unit-20);
  --Archive-padding-y: var(--Units-Unit-24);
  --CTA-padding-y: var(--Units-Unit-24);
  --CTA-spacing-y: var(--Units-Unit-24);
  --Awards-padding: var(--Units-Unit-24);
  --Awards-spacing-y: var(--Units-Unit-24);
  --Awards-br: var(--Units-Unit-0);
  --Awards-text--spacing-y: var(--Units-Unit-10);
  --Awards-btn--spacing-y: var(--Units-Unit-36);
  --Awards-cert--padding: var(--Units-Unit-48);
  --Archive-spacing-x: var(--Units-Unit-10);
  --Resource-link--spacing-y: var(--Units-Unit-36);
  --Events-spacing-x: var(--Units-Unit-36);
  --Events-spacing-y: var(--Units-Unit-10);
  --Events-br: var(--Units-Unit-0);
  --Events-link--spacing-y: var(--Units-Unit-24);
  --Tabbed-loz--spacing-x: var(--Units-Unit-4);
  --Tabbed-loz--br: var(--Units-Unit-9999);
  --Tabbed-lozs--padding-y: var(--Units-Unit-24);
  --Tabbed-lozs--spacing-x: var(--Units-Unit-10);
  --Tabbed-lozs--spacing-y: var(--Units-Unit-20);
  --Tabbed-block--spacing-y: var(--Units-Unit-10);
  --Tabbed-block--br: var(--Units-Unit-0);
  --Tabbed-row--padding: var(--Units-Unit-10);
  --Tabbed-row--br: var(--Units-Unit-0);
  --Tabbed-tabs--padding-y: var(--Units-Unit-24);
  --Tabbed-tabs--spacing-x: var(--Units-Unit-0);
  --Tabbed-aside--spacing-y: var(--Units-Unit-0);
  --Tabbed-aside--br: var(--Units-Unit-0);
  --Trust-padding: var(--Units-Unit-24);
  --Cookie-padding: var(--Units-Unit-24);
  --Cookie-br: var(--Units-Unit-0);
  --Form-spacing-y: var(--Units-Unit-48);
  --Map-br: var(--Units-Unit-0);
  --Map-spacing-x: var(--Units-Unit-12);
  --Map-text--padding-x: var(--Units-Unit-24);
  --Map-text--padding-y: var(--Units-Unit-40);
  --Cookie-spacing-y: var(--Units-Unit-24);
  --Map-text--spacing-y: var(--Units-Unit-10);
  --Accordion-header--padding: var(--Units-Unit-10);
  --Accordion-header--br: var(--Units-Unit-0);
  --Accordion-body--padding: var(--Units-Unit-0);
  --Accordion-body--br: var(--Units-Unit-0);
  --Accordion-stack--spacing-y: var(--Units-Unit-0);
  --Accordion-stack--br: var(--Units-Unit-0);
  --Map-image--padding-t: var(--Units-Unit-20);
  --Map-image--padding-b: var(--Units-Unit-0);
  --Map-image--padding-l: var(--Units-Unit-36);
  --Map-image--padding-r: var(--Units-Unit-0);
  --Cookie-btn--spacing-x: var(--Units-Unit-10);
  --Downloads-padding-x: var(--Units-Unit-24);
  --Downloads-padding-y: var(--Units-Unit-24);
  --Downloads-spacing-y: var(--Units-Unit-36);
  --Downloads-br: var(--Units-Unit-0);
  --Downloads-logo--padding: var(--Units-Unit-10);
  --Sticky-padding: var(--Units-Unit-24);
  --Trust-text--padding: var(--Units-Unit-10);
  --Trust-image--padding: var(--Units-Unit-24);
  --TextMedia-text--spacing-y: var(--Units-Unit-10);
  --TextMedia-btn-text--spacing-y: var(--Units-Unit-36);
  --TextMedia-value--spacing-y: var(--Units-Unit-10);
  --TextMedia-image--padding: var(--Units-Unit-24);
  --TextMedia-image--br: var(--Units-Unit-20);
  --Cards-image--padding-x: var(--Units-Unit-40);
  --Cards-image--br: var(--Units-Unit-20);
  --Cards-icon--padding-y: var(--Units-Unit-20);
  --Cards-icon--padding-x: var(--Units-Unit-20);
  --Breadcrumb-menu--spacing-x: var(--Units-Unit-12);
  --Hero-padding-y: var(--Units-Unit-40);
  --Hero-spacing: var(--Units-Unit-32);
  --Hero-image--padding: var(--Units-Unit-40);
  --Hero-image--br: var(--Units-Unit-20);
  --Trust-padding-2: var(--Units-Unit-24);
  --Hero-text--spacing-y: var(--Units-Unit-10);
}